<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Add Task:</title>
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/

	$(document).ready(function() {
		$(".datepicker").datepicker();
	});

	/*]]>*/
</script>
</head>
<body>
	<font color="red"><p th:text="${scheduleEndDateError}"></p></font>
	<font color="red"><p th:text="${actualEndDateError}"></p></font>
	<font color="red"><p th:text="${actualStartDateError}"></p></font>
	<font color="red"><p th:text="${dateEmptyError}"></p></font>
	
	<form action="#"
		th:action="@{'/organizations/'+${organizationId}+'/projects/'+${projectId}+'/tasks/new'}"
		th:object="${task}" method="post">
		<font color="red">
			<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
		</font> 
		<font color="red">
			<p th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"></p>
		</font>
		<font color="red">
			<p th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
		</font>
		<font color="red">
			<p th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></p>
		</font>
		<font color="red">
			<p th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></p>
		</font>
		<table>
			<tr>
				<td>Title:</td>
				<td><input type="text" th:field="*{title}" placeholder="Title" /></td>
			</tr>
			<tr>
				<td>Summary:</td>
				<td><input type="text" th:field="*{summary}"
					placeholder="Summary" /></td>
			</tr>
			<tr>
				<td>Schedule Start Date:</td>
				<td><input type="text" th:field="*{scheduleStartDate}"
					placeholder="ScheduleStartDate" class="datepicker" /></td>
			</tr>
			<tr>
				<td>Schedule End Date:</td>
				<td><input type="text" th:field="*{scheduleEndDate}"
					placeholder="ScheduleEndDate" class="datepicker" /></td>
			</tr>
			<tr>
				<td>Actual Start Date:</td>
				<td><input type="text" th:field="*{actualStartDate}"
					placeholder="ActualStartDate" class="datepicker" /></td>
			</tr>
			<tr>
				<td>Actual End Date:</td>
				<td><input type="text" th:field="*{actualEndDate}"
					placeholder="actualEndDate" class="datepicker" /></td>
			</tr>
			<tr>
			<td>Assignee:</td>
			<td><select th:field="*{assignee}">
			<option value="Defaule">--Select Member--</option>
             <option th:each="memberName : ${userNames}"
                             th:value="${memberName.id}"
                             th:text="${memberName.name}" />
            </select>
            </td>
			</tr>
			<tr>
				<td>Status:</td>
				<td><input type="text" th:field="*{status}"
					placeholder="Status" /></td>
			</tr>
			<tr>
				<td>Weight:</td>
				<td><input type="text" th:field="*{weight}"
					placeholder="Weight" /></td>
			</tr>
			<tr>
				<td>Score:</td>
				<td><input type="text" th:field="*{score}"
					placeholder="Score" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Add" /></td>
			</tr>
		</table>
	</form>
</body>
</html>