<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Login</title>
</head>
<body>
<h3> User Login </h3>
<p th:text="${session.message}" th:unless="${session == null}">[...]</p>
	<form name="userForm" id="userForm" action="#"
		th:action="@{/loginuser}" th:object="${user}" method="post">
		
		<input type="text" th:field="*{name}" placeholder="Name" /><br/>
		 <input type="password" th:field="*{password}" placeholder="password" /><br/>
		  <input type="submit" value="login" />
		  <a href="#" th:href="@{/registration}">Register</a>
	</form>
</body>
</html>