<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>User Registration</title>
</head>
<body>
<h3> User Registration </h3>
<font color="red"><p th:text="${nameExist}"></p></font>
<font color="red"><p th:text="${emailExist}"></p></font>

	<form action="#"
		th:action="@{/registrationuser}" th:object="${user}" method="post">	
		<font color="red"> <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></font>
		<font color="red"> <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p></font>
		<font color="red"> <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p></font>
		
		<input type="text" th:field="*{email}" placeholder="Email" /><br/>
		<input type="text" th:field="*{name}" placeholder="Name" /><br/>
		 <input type="text" th:field="*{password}" placeholder="password" /><br/>
		  <input type="submit" value="Register" />
	</form>
</body>
</html>