<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Tasks Titles</title>
</head>
<body>
<table>
		<tr th:each="task : ${taskTitles}">
			<td><a href="#" th:href="@{'/organizations/'+${organizationId}+'/projects/'+${projectId}+'/tasks/'+${task.id}}"><div th:text="${task.title}"></div></a></td>
		</tr>
	</table>
	<a href="#" th:href="@{'/organizations/'+${organizationId}+'/projects/'+${projectId}+'/tasks/new'}">New</a>
<br/><br/>
</body>
</html>